@use '@angular/material' as mat;
@include mat.core();
@import './variables.scss';

html {
  height: 100%;
  width: 100%;
}

body {
  @extend %blue-bg;
  height: 100%;
  width: 100%;
  font-family: Verdana, Geneva, sans-serif !important;
}

ul {
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}

router-outlet {
  display: none;
}

input.ng-dirty.ng-invalid {
  border-bottom: 3px solid red;
  background-color: #fff6f7 !important;
}

input.ng-pristine.ng-invalid {
  border-bottom: 2px solid rgb(248, 159, 159);
}

